/* Basic styling for better appearance */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.question-container {
    display: none;
}

.container{
    align-items: center;
}